[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = GeminiWaterAce
	email = userwaterzz@163.com
[save]
	directory = C:/Users/GeminiWaterAce
[safe]
	directory = C:/Users/GeminiWaterAce
[http]
	sslVerify = false
	version = HTTP/1.1
	postBuffer = 524288000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
