/.ssh
/.vscode
/Downloads
/Music
/Desktop
/.bash_history
/.gitconfig
/NTUSER.DAT
/3D Objects
/ansel
/Creative Cloud Files
/OneDrive
/Programs
/Contacts - 副本
/Links - 副本
/Videos
/Favorites
/Searches
/Pictures
/Documents/Tencent Files
/Documents/TencentMeeting
/AppData/Local/Afterimage/Saved/Logs
/AppData/Local/Afterimage/Saved/Config
/AppData/Local/BloodstainedRotN/Saved/Logs
/AppData/Local/BloodstainedRotN/Saved/Config
/AppData/Local/CrashBandicoot4/Saved/Config
/AppData/Local/CrashBandicoot4/Saved/Logs
/AppData/Local/CrashBandicoot4/Saved/Profiling
/AppData/Local/ItTakesTwo/Saved/Config
/AppData/Local/ItTakesTwo/Saved/Logs
/AppData/Local/ZingangGame/Saved/Logs
/AppData/Local/ZingangGame/Saved/Config
/Saved Games/AcmeGS/Asterigos/Saved/Config
/Saved Games/AcmeGS/Asterigos/Saved/Logs
/AppData/Roaming/thunder/Code Cache
/AppData/Roaming/thunder/Cache
/AppData/Local/_8BitDoFirmwareUpdater
/AppData/Local/Activision
/AppData/Local/Adobe
/AppData/Local/ControlLauncher
/AppData/Local/Borderlands 3
/AppData/Local/cache
/AppData/Local/CCFF7R
/AppData/Local/CD Projekt Red
/AppData/Local/CEF
/AppData/Local/Chess2
/AppData/Local/ChromeExtensionCache
/AppData/Local/Citrix
/AppData/Local/Comms
/AppData/Local/ConnectedDevicesPlatform
/AppData/Local/History
/AppData/Local/CrashDumps
/AppData/Local/CrashReportClient
/AppData/Local/CrashRpt
/AppData/Local/Creative
/AppData/Local/Creative_Technology_Ltd
/AppData/Local/Cube
/AppData/Local/D3DSCache
/AppData/Local/DBG
/AppData/Local/Downloaded Installations
/AppData/Local/EADesktop
/AppData/Local/EALaunchHelper
/AppData/Local/Electronic Arts
/AppData/Local/ElevatedDiagnostics
/AppData/Local/EOSUserHelper
/AppData/Local/Epic Games
/AppData/Local/EpicGamesLauncher
/AppData/Local/Free_Time_Co.,_Ltd
/AppData/Local/FromSoftware
/AppData/Local/FTMod
/AppData/Local/GameAnalytics
/AppData/Local/GitHubDesktop
/AppData/Local/g-menu-updater
/AppData/Local/GOG.com
/AppData/Local/Google
/AppData/Local/GunGraveGore
/AppData/Local/HaloInfinite
/AppData/Roaming/thunder/blob_storage
/AppData/Roaming/BetopGame
/AppData/Roaming/Adobe
/AppData/Roaming/AMD
/AppData/Roaming/BaiduYunKernel
/AppData/Roaming/BCUT
/AppData/Roaming/FLT
/AppData/Roaming/Campus
/AppData/Roaming/CatSystem2
/AppData/Roaming/Crystal Dynamics
/AppData/Roaming/CubeLauncher
/AppData/Roaming/Daum
/AppData/Roaming/DMM_GAMES
/AppData/Roaming/EasyAntiCheat
/AppData/Roaming/Eidos Montreal
/AppData/Roaming/EMPRESS
/AppData/Roaming/lds
/AppData/Roaming/Goldberg EOS Emu Saves
/AppData/Roaming/Goldberg SocialClub Emu Saves
/AppData/Roaming/Goldberg SteamEmu Saves
/AppData/Roaming/Goldberg UplayEmu Saves
/AppData/Roaming/HOODLUM
/AppData/Roaming/ICAClient
/AppData/Roaming/Insomniac Games
/AppData/Roaming/kaiko
/AppData/Roaming/Kalypso Media
/AppData/Roaming/Mozilla
/AppData/Roaming/MathWorks
/AppData/Roaming/Microsoft
/AppData/Roaming/Notepad++/backup
/AppData/Roaming/NVIDIA
/AppData/Roaming/Tencent
/AppData/Roaming/PDFPrefs
/AppData/Roaming/PlatinumGames
/AppData/Roaming/PLogs
/AppData/Roaming/PotPlayerMini
/AppData/Roaming/PotPlayerMini64
/AppData/Roaming/Python
/AppData/Roaming/R-TT
/AppData/Roaming/T2GP Launcher
/AppData/Roaming/Teams
/AppData/Local/hotwheels/Saved/Config
/AppData/Local/hotwheels/Saved/Logs
/AppData/Local/HouseOfAshes/Saved/Config
/AppData/Local/HouseOfAshes/Saved/Crashes
/AppData/Local/HouseOfAshes/Saved/Logs
/AppData/Local/Blizzard Entertainment
/AppData/Local/AMD
/AppData/Local/ASP.NET
/AppData/Local/BCUT
/AppData/Local/BCutPath
/AppData/Local/bililive
/AppData/Local/Installwin
/AppData/Local/INetHistory
/AppData/Local/luminati
/AppData/Local/Link2EA
/AppData/Local/LittleHope
/AppData/Local/log
/AppData/Local/Publishers
/AppData/Local/MathWorks
/AppData/Local/Mercury
/AppData/Local/Microsoft
/AppData/Local/mod.io
/AppData/Local/motrix-updater
/AppData/Local/Mozilla
/AppData/Local/NemuPlayer
/AppData/Local/NVIDIA
/AppData/Local/NVIDIA Corporation
/AppData/Local/OneDrive
/AppData/Local/Package Cache
/AppData/Local/Packages
/AppData/Local/PeerDistRepub
/AppData/Local/pip
/AppData/Local/PlaceholderTileLogoFolder
/AppData/Local/Programs
/AppData/Local/Rockstar Games
/AppData/Local/Reckfeng
/AppData/Local/REDEngine
/AppData/Local/Remedy
/AppData/Local/Vivox
/AppData/Local/setup
/AppData/Local/SKIDROW
/AppData/Local/Slightly Mad Studios
/AppData/Local/Softdeluxe
/AppData/Local/Sony Corporation
/AppData/Local/speech
/AppData/Local/SquirrelTemp
/AppData/Local/Steam
/AppData/Local/SwGame
/AppData/Local/T2GP Launcher
/AppData/Local/T6ControllerAssistant
/AppData/Local/Temp
/AppData/Local/Tencent
/AppData/Local/TheDevilInMe
/AppData/Local/THQ Nordic
/AppData/Local/TortoiseGit
/AppData/Local/Turbo.net
/AppData/Local/Ubisoft Game Launcher
/AppData/Local/Uninstallwin
/AppData/Local/UniSDK
/AppData/Local/UnrealEngine
/AppData/Local/UnrealEngineLauncher
/AppData/Local/VirtualStore
/AppData/Local/Zeasn
/AppData/Local/WW
/AppData/Local/IconCache.db
/AppData/Roaming/CoreAVC.ini
NTUSER.*
ntuser.*
/AppData/Roaming/Netease/UU/uu_proxy.log
/AppData/Roaming/thunder/Cookies
/Documents/My Music
/Documents/My Pictures
/Documents/My Videos
/Documents/game.ico
/Documents/Marvel's Spider-Man Remastered/Marvel's Spider-Man Remastered.log
/Documents/Marvel's Spider-Man Remastered/Marvel's Spider-Man Remastered-v1.1014.0.0 2022-10-22-20-52-10.mdmp
/Documents/Marvel's Spider-Man Remastered/Marvel's Spider-Man Remastered-v1.1014.0.0 2022-11-12-17-14-25.mdmp
/Documents/Marvel's Spider-Man Remastered/Marvel's Spider-Man Remastered-v1.1212.0.0 2023-01-25-21-47-19.mdmp
/Documents/desktop.ini
/AppData/Roaming/Notepad++/config.xml
/Documents/Assassin's Creed Odyssey/cache
/Documents/Assassin's Creed Odyssey/image_cache
/Documents/Assassin's Creed Valhalla/cache
/Documents/Assassin's Creed Valhalla/file_cache
/Documents/Rockstar Games/Red Dead Redemption 2/Settings
/Documents/My Games/Far Cry 6/benchmarks
/Documents/My Games/Far Cry 6/38-39-32-32-44-31-44-32-30-32-34-34-46-30-42-37_pipelines.bin
/AppData/Roaming/Blackmagic Design/DaVinci Resolve/Support/logs
/AppData/Roaming/GitHub Desktop/GPUCache
/AppData/Roaming/GitHub Desktop/Cache
/AppData/Roaming/Crash Bandicoot(TM) N. Sane Trilogy/steam_autocloud.vdf
/AppData/Roaming/Code/Code Cache
/AppData/Roaming/Code/Cache
/AppData/Roaming/Code/CachedData
/AppData/Roaming/Code/CachedExtensions
/AppData/Roaming/Netease/UU
/AppData/Roaming/WinRAR
/AppData/Roaming/thunder
/AppData/Local/Afterimage/Saved/SaveGames/steam_autocloud.vdf
/AppData/Roaming/Code
/AppData/Roaming/GitHub Desktop
/AppData/Roaming/TortoiseGit
/AppData/Roaming/vlc
/Documents/Adobe
/AppData/Local/qBittorrent
/AppData/Roaming/G-Menu
/Documents/Rockstar Games/Launcher
/AppData/Roaming/Notepad++
