[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = GeminiWaterAce
	email = userwaterzz@163.com
[safe]
	directory = H:/Repository/GeminiWaterAce
	directory = C:/Users/GeminiWaterAce
	directory = I:/Repositories/GeminiWaterAce
	directory = I:/Repositories/GamingStrategy
	directory = H:/Repository/AnimationBroadcas
	directory = H:/Repository/AnimationBroadcas
	directory = H:/Repository/AnimationBroadcastTable
[http]
	sslVerify = false
	version = HTTP/1.1
	postBuffer = 524288000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
