<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <CONFIG_TYPE>CUSTOM</CONFIG_TYPE>
    <FPS>120</FPS>
    <DISP_MODE>FULL SCREEN</DISP_MODE>
    <SCR_REZ>3840x2160</SCR_REZ>
    <VSYNC>OFF</VSYNC>
    <REN_REZ>100%</REN_REZ>
    <ANTI_ALIAS>ON</ANTI_ALIAS>
    <SHADOW_QUAL>HIGH</SHADOW_QUAL>
    <SHADOW_DIST>LONG</SHADOW_DIST>
    <DYNAMIC_FRAME>OFF</DYNAMIC_FRAME>
    <TEXTURE_QUAL>HIGH</TEXTURE_QUAL>
    <RT_REF>ON</RT_REF>
    <AO>ON</AO>
    <MOT_BLUR>ON</MOT_BLUR>
    <CHROMA_ABERRATION>ON</CHROMA_ABERRATION>
    <VRAM_MONITOR>ON</VRAM_MONITOR>
</settings>
