<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <CONFIG_TYPE>CUSTOM</CONFIG_TYPE>
    <DISP_MODE>FULL SCREEN</DISP_MODE>
    <REN_REZ>100</REN_REZ>
    <SCR_REZ>3840x2160</SCR_REZ>
    <FPS>120</FPS>
    <SHADOW_QUAL>HIGH</SHADOW_QUAL>
    <AO>ON</AO>
    <RT_REF>ON</RT_REF>
    <MOT_BLUR>OFF</MOT_BLUR>
    <TEXTURE_QUAL>NORMAL</TEXTURE_QUAL>
    <EFFECT_QUAL>NORMAL</EFFECT_QUAL>
    <DLSS_QUAL>OFF</DLSS_QUAL>
</settings>
